@charset "utf-8";
	* {
	margin:0;
	padding:0;
}
body {
	font:12px/1.5 Tahoma,Arial,"宋体",Helvetica,sans-serif;
	_background-image:url(about:blank);
	_background-attachment:fixed;
}
div {
	margin:0 auto;
}
img {
	border:0;
}
ul,li {
	list-style:none;
}
div,ul,li,dl,dt,dd,table,td,input {
	font-size:12px;
}
h1,h2,h3,h4,h5,h6 {
	font-weight:normal;
	font-size:12px;
}
a {
	color:#333;
	text-decoration:none;
	outline:none;
}
a:active {
	star:expression(this.onFocus=this.blur());
}
a:hover {
	color:#f60;
	outline:none;
}
i,em {
	font-style:normal;
}
.Fb {
	font-weight:bold;
}
.fl,.fl-img {
	float:left;
}
.fr {
	float:right;
}
.mat10 {
	margin-top:10px;
}
.mab10 {
	margin-bottom:10px;
}
.hidden {
	display:none;
}
.show {
	display:block;
}
.wrap {
	width:980px;
	margin:0 auto;
}
.Current_nav {
	width:980px;
	font-size:12px;
	color:#bbb;
	font-family:宋体;
	height:25px;
	margin:0 auto;
}
.Current_nav span {
	font-family:宋体;
}
.Current_nav a {
	color:#bbb;
}
.Current_nav a:hover {
	color:#f60;
}
.white {
	color:#fff;
}
.red {
	color:#f00;
}
a.red:hover {
	text-decoration:underline;
	color:#f00;
}
.orange {
	color:#f60;
}
.blue {
	color:#2af;
}
a.blue:hover {
	text-decoration:underline;
	color:#2af;
}
.green {
	color:#3b0;
}
.red {
	color:#F00;
}
.gray {
	color:#333;
}
.gray01 {
	color:#666;
}
.gray02 {
	color:#999;
}
.gray03 {
	color:#bbb;
}
.quick_cart s,.quick_service s,.quick_Collection s,.quick_Return s,.Close,.Roll_mycart li a.Close:hover,.quick_cart .Current s,.quick_service .Current s,.quick_Collection .Current s,.quick_Return .Current s {
	background:url(../images/quickBack.png) no-repeat;
}
.quickBack {
	position:fixed;
	_position:absolute;
}
.quickBack {
	position:fixed;
	bottom:40px;
	right:10px;
	width:60px;
	z-index:11;
}
* html .quickBack {
	_top:expression(eval(document.documentElement.scrollTop+document.documentElement.clientHeight-this.offsetHeight-(parseInt(this.currentStyle.marginTop,10)||0)-(parseInt(this.currentStyle.marginBottom,10)||0)-40));
	_bottom:auto;
	_position:absolute;
}
.quickBack .quick_But {
	width:60px;
}
.quickBack .quick_But dd a.quick_cartA {
	width:58px;
	height:58px;
	position:relative;
	display:block;
	border:1px solid #E4E4E4;
	border-bottom:none;
	z-index:11;
}
.quickBack .quick_But dd a.quick_serviceA {
	width:58px;
	height:58px;
	position:relative;
	display:block;
	border:1px solid #E4E4E4;
	border-bottom:none;
	z-index:11;
}
.quickBack .quick_But dd a.quick_CollectionA {
	width:58px;
	height:58px;
	position:relative;
	display:block;
	border:1px solid #E4E4E4;
	border-bottom:none;
	z-index:11;
}
.quickBack .quick_But dd a.quick_ReturnA {
	width:58px;
	height:58px;
	position:relative;
	display:block;
	border:1px solid #E4E4E4;
	z-index:11;
}
.quickBack .quick_But dd a s {
	cursor:pointer;
	height:58px;
	left:0;
	position:absolute;
	top:0;
	width:58px;
}
.quickBack .quick_But dd a b {
	width:58px;
	text-align:center;
	font-weight:normal;
	color:#fff;
	position:absolute;
	top:32px;
	left:0;
	display:inline-block;
	font-family:微软雅黑;
	display:none;
	cursor:pointer;
	z-index:10;
}
.quickBack .quick_But dd a.Current b {
	display:block;
}
.quick_cart em {
	width:16px;
	padding-left:1px;
	height:17px;
	line-height:16px;
	font-size:11px;
	font-family:Arial;
	text-align:center;
	color:#fff;
	position:absolute;
	top:7px;
	right:5px;
	background:url(../images/quickBack_CartDig.png) no-repeat;
	_background:none;
	_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src="../images/quickBack_CartDig.png");
}
.quick_cart s {
	background-position:0 0;
}
.quick_service s {
	background-position:0 -59px;
}
.quick_Collection s {
	background-position:0 -118px;
}
.quick_Return s {
	background-position:0 -177px;
}
.quick_cart .Current s {
	background-position:-58px 0;
}
.quick_service .Current s {
	background-position:-58px -59px;
}
.quick_Collection .Current s {
	background-position:-58px -118px;
}
.quick_Return .Current s {
	background-position:-58px -177px;
}
.quick_goods_loding {
	font-size:18px;
	color:#666;
	font-family:微软雅黑,宋体;
	height:111px;
	min-height:111px;
	text-align:center;
	vertical-align:middle;
	padding:60px 0 0 0;
}
.quick_goods_loding img {
	margin-right:5px;
	vertical-align:middle;
}
.Roll_mycart {
	width:290px;
	height:234px;
	overflow:hidden;
	border:1px solid #2AF;
	position:absolute;
	right:59px;
	top:1px;
	background:#fff;
	z-index:18;
}
.Roll_mycart ul {
	width:282px;
	padding-left:8px;
	border-bottom:1px solid #EFEFEF;
	height:171px;
	float:left;
}
.Roll_mycart li {
	width:60px;
	float:left;
	text-align:center;
	position:relative;
	margin:8px 10px 0 0;
	_display:inline;
	line-height:14px;
}
.Roll_mycart li a {
	height:60px;
	display:block;
}
.Roll_mycart li a.Close {
	width:14px;
	height:14px;
	overflow:hidden;
	display:inline-block;
	background-color:#EEE;
	background-position:-14px -238px;
	position:absolute;
	top:0;
	right:0;
	z-index:18;
	border-bottom:none;
}
.Roll_mycart li a.Close:hover {
	width:14px;
	height:14px;
	overflow:hidden;
	display:inline-block;
	background-position:0 -238px;
	background-color:#F60;
	position:absolute;
	top:0;
	right:0;
	z-index:18;
}
.Roll_mycart li img {
	border:1px solid #EEE;
	width:58px;
	height:58px;
}
.Roll_mycart li span {
	font-family:Arial;
	font-weight:bold;
}
.Roll_mycart li.Roll_CartMore a {
	width:60px;
	height:60px;
	background:#F0F0F0;
	display:inline-block;
	line-height:60px;
	font-family:宋体;
	color:#999;
}
.Roll_mycart li.Roll_CartMore a:hover {
	background:#e8e8e8;
	color:#f60;
}
.Roll_mycart li.Roll_CartMore a i {
	font-weight:bold;
}
.Roll_mycart p {
	text-align:right;
	color:#999;
	width:260px;
	height:22px;
	overflow:hidden;
	float:right;
	padding-top:5px;
	padding-right:8px;
}
.Roll_mycart p span {
	color:#f60;
}
.Roll_mycart h3 {
	height:26px;
	padding-right:8px;
	padding-bottom:4px;
	float:right;
}
.Roll_mycart h3 input {
	width:112px;
	height:26px;
	text-align:center;
	color:#fff;
	display:block;
	border:none;
	cursor:pointer;
	font-family:微软雅黑;
	font-size:14px;
	background:#f60;
	border-radius:3px;
	float:right;
	padding:2px 0 5px;
	_padding:3px 0 2px;
}
.Roll_mycart h3 input[type=button]::-moz-focus-inner {
	border:0;
}
.collect a,.h_tel,.h_1yyg b,.h_1yyg_eject i,.mini_mycart a.cart s,.tipsCancel,.login_info .h_news b,.login_info .h_news i,.h_Mobileicon,.DetailsT_Cart s,.login_info .h_inv a,.login_info .h_inv a:hover {
	background:url(../images/headbg11.png) no-repeat;
}
.tips-con i,.rmbred,.rmbgray,.rmbwhite {
	background:url(../images/PublicIcon.png) no-repeat;
}
.rmbred {
	background-position:0 -49px;
	background-repeat:no-repeat;
	padding-left:10px;
}
.rmbgray {
	background-position:0 -3px;
	background-repeat:no-repeat;
	padding-left:10px;
}
.rmbwhite {
	background-position:0 -25px;
	background-repeat:no-repeat;
	padding-left:10px;
}
.tips-con {
	text-align:center;
	color:#999;
	margin:30px 0;
}
.tips-con i {
	width:17px;
	height:17px;
	background-position:0 -75px;
	display:inline-block;
	margin-right:4px;
	vertical-align:-4px;
	vertical-align:-4px\9;
	_vertical-align:-2px;
}


.h_news_tips {
	border:1px solid #BBB;
	width:170px;
	box-shadow:0 0 3px #DFDFDF;
	position:absolute;
	text-align:right;
	padding:5px 5px 2px 10px;
	background:#F7F7F7;
	border-radius:2px;
	z-index:11;
}
.h_news_tips .tipsCancel {
	position:absolute;
	right:3px;
	top:3px;
	width:7px;
	height:7px;
	overflow:hidden;
	display:inline-block;
	background-position:0 -124px;
}
.h_news_tips p {
	text-align:left;
	color:#666;
	height:22px;
	line-height:22px;
	padding-right:15px;
}
.h_news_tips p a {
	color:#2AF;
	text-align:right;
	float:right;
}
.h_news_tips p a:hover {
	text-decoration:underline;
}


.hCollectCon {
	width:100%;
	padding-top:15px;
	background:#fff;
}
.hCollectCon2 {
	border-top:#E8E8E8 1px solid;
	background:#fff;
	padding-bottom:10px;
}
.hCollectCon3 {
	border-top:#E8E8E8 1px solid;
	background:#fbfbfb;
	padding-bottom:20px;
}
.hCollect {
	width:980px;
	margin:0 auto;
}
.hCollect:after {
	content:"\0020";
	display:block;
	height:0;
	clear:both;
}
.hCollect li {
	float:left;
	height:29px;
	margin:8px 19px 0;
}
.hCollect li a {
	display:inline-block;
	background-image:url(../images/collect.png);
	background-repeat:no-repeat;
	color:#666;
	font-size:14px;
	width:80px;
	height:16px;
	line-height:16px;
	padding-left:22px;
	overflow:hidden;
	margin-top:6px;
}
.hCollect a.hyyg {
	background-position:0 0;
}
.hCollect a.hauto {
	background-position:0 -23px;
}
.hCollect a.hbaidu {
	background-position:0 -46px;
}
.hCollect a.hgoogle {
	background-position:0 -69px;
}
.hCollect a.hsina {
	background-position:0 -93px;
}
.hCollect a.hqq {
	background-position:0 -115px;
}
.hCollect a.hadd {
	background-position:8px -155px;
	border:1px dotted #999;
	width:65px;
	height:27px;
	line-height:27px;
	line-height:29px\9;
	padding-left:22px;
	text-align:center;
	margin-top:0;
}
.hCollect li a:hover {
	color:#f60;
}
.hUnfold {
	display:inline-block;
}
.hCollect2 {
	color:#666;
	font-size:14px;
}
.hCollect2 ul {
	margin-left:-26px;
	overflow:hidden;
	display:inline-block;
}
.hCollect2 li {
	float:left;
	border:1px dotted #999;
	height:19px;
	line-height:19px;
	width:115px;
	margin-left:26px;
	display:inline;
	padding:3px 0;
	padding:4px 0 2px\9;
	*height:23px;
	*line-height:23px;
	*padding:3px 0 2px;
	_height:19px;
	_line-height:19px;
	_padding:3px 0;
	position:relative;
	margin-bottom:10px;
	overflow:hidden;
}
.hCollect2 li:hover {
	border:1px dotted #333;
}
.hCollect2 li dd {
	display:inline-block;
	background-image:url(../images/collect.png);
	background-repeat:no-repeat;
	color:#666;
	font-size:14px;
	padding-left:20px;
	margin-left:5px;
	height:19px;
	line-height:19px;
	*display:inline;
}
.hCollect2 li dd span {
	width:58px;
	overflow:hidden;
	display:inline-block;
}
.hCollect2 {
	width:980px;
	margin:10px auto;
}
.hCollect2 dd.hyyg {
	background-position:0 1px;
}
.hCollect2 dd.hauto {
	background-position:0 -22px;
	*background-position:0 -23px;
	_background-position:0 -22px;
}
.hCollect2 dd.hbaidu {
	background-position:0 -45px;
	*background-position:0 -46px;
	_background-position:0 -45px;
}
.hCollect2 dd.hgoogle {
	background-position:0 -68px;
	*background-position:0 -69px;
	_background-position:0 -68px;
}
.hCollect2 dd.hsina {
	background-position:0 -91px;
	*background-position:0 -92px;
	_background-position:0 -91px;
}
.hCollect2 dd.hqq {
	background-position:0 -114px;
	*background-position:0 -115px;
	_background-position:0 -114px;
}
.hCollect2 dd.hnet {
	background-position:0 -137px;
}
.hCollectCon dd.hdef,.hCollectCon a.hdef {
	background-position:0 -251px;
}
.hCollect2 li a {
	display:inline-block;
	background:url(../images/collect.png) 10px -188px no-repeat;
	width:19px;
	height:19px;
	padding-left:10px;
	cursor:pointer;
	position:absolute;
	right:5px;
	text-align:left;
}
.hCollect2 li a:hover {
	background:url(../images/collect.png) 10px -219px no-repeat;
}
.hAddInfo {
	clear:both;
	width:978px;
	height:36px;
	line-height:25px;
	margin:27px auto 10;
	background:#f7f7f7;
	border:1px solid #e8e8e8;
	color:#666;
	font-size:14px;
	padding-top:13px;
	position:relative;
}
.hAddInfo label {
	margin-left:20px;
	padding:0;
	float:left;
}
.hAddInfo input.hName,.hAddInfo input.hWebsite {
	border:#bbb 1px solid;
	background:#fff;
	height:23px;
	line-height:23px;
	padding:0 5px;
	color:#666;
}
.hAddInfo input.hName {
	width:168px;
	float:left;
}
.hAddInfo input.hWebsite {
	width:450px;
	font-family:Arial!important;
	float:left;
}
.hAddInfo input.hbtn {
	width:65px;
	height:25px;
	line-height:25px;
	text-align:center;
	color:#fff;
	border:0 none;
	font-size:14px;
	cursor:pointer;
	border-radius:2px;
	margin-left:5px;
}
.hAddInfo input.hbtn1 {
	background:#f60;
}
.hAddInfo input.hbtn1:hover {
	background:#f40;
}
.hAddInfo input.hbtn2 {
	background:#bbb;
}
.hAddInfo input.hbtn2:hover {
	background:#999;
}
.hAddInfo span {
	width:144px;
	height:24px;
	line-height:24px;
	border:#FFBB62 1px solid;
	display:inline-block;
	background:#FFFCE2 url(../images/collect.png) 10px -276px no-repeat;
	padding-left:35px;
	font-size:12px;
	color:#ff6f0f;
	position:absolute;
	top:-18px;
}
.hAddInfo span.hLength {
	left:90px;
}
.hAddInfo span.hLength2 {
	left:333px;
}